html, body, main, .page {
    height: 100%;
}

.page {
    margin: 0px 10% 0px 10%;
    padding: 1px 0px 1px 0px;
    /*background-color: lightgray;*/
}

section {
    border: 4px solid black;
    background-color: lightgray;
}

/*  Fake Button */
.div-btn {
    font-size: larger;
    transition-property: background-color;
    transition-duration: 500ms;
}
.div-btn:hover {
    cursor: pointer;
    background-color: yellow;
}