header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: #464646;
	border-bottom: 1px solid;
}

header a:link, header a:visited {
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 5px;
}

header a:hover {
	color: #31b0d5;
}

body {
	background-attachment: fixed;
	background-size: 100%;
	margin: auto;
}

footer {
	color: gray;
	background-color: #464646;
	border-top: 1px solid;
}

footer p {
	bottom: 0;
	margin: 0px 0px 0px 0px;
}

.header-text {
	color: #31b0d5;
	position: fixed;
	top: 0;
	left: 10px;
	z-index: 101;
	font-weight: bold;
}

.vin {
	color: #fff;
	text-shadow: 0px 0px 3px black;
	background-image: url(../image/vins.jpg);
	background-size: 100% 100%;
}

.bout {
	color: #fff;
	text-shadow: 0px 0px 3px black;
	background-image: url(../image/cave.jpg);
	background-size: 100% 100%;
}

.page {
	overflow: hidden;
	min-height: 86%;
	margin: 5em 10em 0em 10em;
	padding: 1em 1.5em 1em 1.5em;
	font-weight: bold;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.img{
	width: 50%;
	min-width: 50px;
	max-width: 100px;
}

.btn {
	margin: 5px 0px 5px 0px;
}

.btn-vin {
	color: #fff;
	background-color: #464646;
	border-color: #fff;
}

.btn-vin:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #fff;
}

.btn-vin.focus,.btn-vin:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(91,192,222,.5);
	box-shadow: 0 0 0 2px rgba(91,192,222,.5);
}

.btn-vin.active,.btn-vin:active,.show>.btn-vin.dropdown-toggle {
	color: #fff;
	background-color :#31b0d5;
	background-image: none;
	border-color :#fff;
}